
{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Sign in</h1>

    <form method="POST" action="{% url 'sign_in' %}">
        {% csrf_token %}
        Username:
        <input name="username" type="text">
        <br>
        Password:
        <input name="password" type="password">
        <br>
        <input type="submit" class="btn btn-primary" value="sign in">
        <input type="submit" class="btn btn-primary" value="sign up">
    </form>
</div>

{% endblock %}